[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
"mastodon.py" = "*"
flasgger = "*"

[dev-packages]
flake8 = "*"
isort = "*"
black = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.12"
